{{ $sponsors := .Site.Data.sponsors }}

<section class="green">
  <h2 class="heading">{{ $sponsors.title }}</h2>

  <div class="row justify-content-md-center text-center">

    {{ range $index, $element := $sponsors.sponsors }}

    <div class="col-12 col-lg-6 col-md-6 mb-3">
      <div class="p-4">
      <!-- <div class="card p-4"> -->
        <center>
          <a href="{{ $element.link }}" target="_blank"><img src="{{ $element.image }}" width="100%" class="mb-2"></a>
        </center>
        <!-- <h5 class="mt-4">{{ $element.title }}</h5>
        <p class="text-muted">{{ $element.description }}</p> -->
      </div>
    </div>

    {{ end }}
  </div>
</section>